<div class="center" style="margin-top: 150px;">
    <div class ="margin10">
    <img height="250px" width="250px" src="/ramen.PNG" alt="ramen-bowl">
</div>
<p class="subtitle">Sign in</p>

<form action="/login" method="POST">
    <div class="margin10">
    <label for="username"></label>
    <input class="inputField" type="text" name="username" id="username" placeholder="Enter your username">
</div>
<div class="margin10">
    <label for="password"></label>
    <input class="inputField" type="password" name="password" id="password" placeholder="Enter your password">
</div>
    <input class="button" type="submit" value="Enter">
</form>
<p>Don't have an account? <a style="color:black" href="/signup">Create one</a></p>
<%if (error){%>
    <em style="color:red"><%=error%>, try again.</em>
    <%}%>
</div>