<div class="center"style="margin-top: 150px;">
    <div class ="margin10">
        <img height="250px" width="250px" src="/ramen.PNG" alt="">
    </div>
    <p class="subtitle">Create a new User</p>

<form action="/signup" method="POST">
    <div class="margin10">
    <label for="username"></label>
<input class="inputField" type="text" name="username" id="username" placeholder="Enter your Username">
</div>
<div class="margin10">
    <label for="email"></label>
<input class="inputField" type="text" name="email" id="email" placeholder="Enter your email">
</div>
<div class="margin10">
    <label for="password"></label>
<input class="inputField" type="password" name="password" id="password" placeholder="Enter your password">
</div>
<input class="button" type="submit" value="Join">
</form>
<p>Already a member? <a style="color:black"  href="/">Sign In</a></p>
<em style="color:red"><%=error%></em>
</div>

