<h2>Create a new User</h2>

<form action="/users" method="POST">
    <label for="email">Enter email:</label>
<input type="text" name="email" id="email">
    <label for="password">Enter Password:</label>
<input type="password" name="password" id="password">
<input type="submit">
</form>