@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: rgb(253, 252, 233);
    font-family: 'Roboto', sans-serif;

}


.center{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.container{
    /* background: #F1CA67; */
    background-clip: padding-box;
}

.inputField{
    width: 400px;
    height :50px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: INSET 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
}

.reviewInput{
    width: 600px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: INSET 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    border-radius: 3px;
    height: 80px;
}
.reviewUpdateInput{
    width: 600px;
    height :80px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: INSET 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    border-radius: 3px;
}

.ratingInput{
    width: 50px;
    height :80px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: INSET 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    border-radius: 3px;
    text-align: center;
}


.button{
    font-size: 24px;
    font-weight: 800;
    width: 129px;
    height: 39px;
    background: #F1CA67;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom: 10px;
}
.reviewButton{
    font-size: 24px;
    font-weight: 800;
    width: 200px;
    height: 39px;
    background: #F1CA67;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom: 10px;
}
.updateDeteleButton{
    font-size: 18px;
    font-weight: 800;
    width: 90px;
    height: 30px;
    background: #F1CA67;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom: 10px;
    margin: 5px;
}
.button:hover{

    background: #c1f167;

}
.button:active{

    background: #c1f167;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.reviewButton:hover{

    background: #c1f167;

}
.reviewButton:active{

    background: #c1f167;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.updateDeteleButton:hover{

    background: #f16767;

}
.updateDeteleButton:active{

    background: #f16767;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.margin10{
    margin:20px;
}
.margin10noBot{
    margin:20px 20px 0px 20px;
}
.margin5noBot{
    margin:10px 10px 0px 10px;
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin:15px;
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 42px;
    margin-left:15px;
}


.map{
    background-color: white;
}

.reviewCard{
    display: flex;
    flex-direction: row;
}

.reviewSubmitBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviewText{
    font-size: 20px;
    font-weight: 600;
}

.navBar{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
    
}
h5:link{color: black;}

.navbar h1{
    font-size: 1.8em !important;
    font-weight: 800;
    }
