<h1>RESTAURANT INDEX</h1>

<ul>
<% restaurant.forEach(element => { %>
    <li><%=element.name%></li>
    <ul>
        <li>Rating: <%=element.rating%></li>
        <li>Review count: <%=element.review_count%></li>
    </ul>

<% }) %>

</ul>