<h1>Welcome to the udpate page</h1>
<form action="/restaurants/update?_method=PUT" method="POST">
    <label for="comment">New Review:</label>
    <input type="text" name="newComment"value="<%=reviewData.comment%>">
    <label for="rating">New Rating:</label>
    <input type="number" min="1" max="5" name="newRating"value="<%=reviewData.rating%>">
    <input hidden type="text" name="commentId"value="<%=reviewData.id%>">
    <input type="submit">
</form>